body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  color: #27486b;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #798da3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: rgb(34, 61, 91);
}

p#resultado {
  font-weight: bold;
  margin-top: 20px;
}